<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Destructurama.JsonNet" version="1.0.3" targetFramework="net461" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="Serilog" version="2.3.0" targetFramework="net461" />
</packages>